<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kkali.kannadakali">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlphabetsActivity"
            android:label="@string/alphabets" />
        <activity
            android:name=".NumbersActivity"
            android:exported="false"
            android:label="@string/numbers" />
        <activity
            android:name=".FamilyActivity"
            android:label="@string/family" />
        <activity
            android:name=".ConvoActivity"
            android:label="@string/convo" />
        <activity
            android:name=".PhrasesActivity"
            android:label="@string/phrases" />
        <activity
            android:name=".WordsActivity"
            android:label="@string/words" />
        <activity
            android:name=".SwaragaluActivity"
            android:label="ಸ್ವರಗಳು - Swaragalu" />
        <activity
            android:name=".YogavahagaluActivity"
            android:label="ಯೋಗವಾಹಗಳು - Yogavahagalu" />
        <activity
            android:name=".VargiyaActivity"
            android:label="ವರ್ಗೀಯ ವ್ಯಂಜನಗಳು - Vargiya Vyanjanagalu" />
        <activity
            android:name=".AvargiyaActivity"
            android:label="ಅವರ್ಗೀಯ ವ್ಯಂಜನಗಳು - Avargiya Vyanjanagalu" />
        <activity android:name=".Convo2_activity" />
        <activity android:name=".Convo1_activity"></activity>
    </application>

</manifest>